html {
  scroll-behavior: smooth;
}

:root {
/*Change the colors to update the theme.*/
  --primary-color: #0e0e0e;
  --secondary-color: #4E31AA;
  --third-color: #F7F7F8;
  /*Change the font to update the sizings*/
   --h1-h2-size: 6rem;
   --h3-size: 3rem;
   --p-size: 1.5rem;
  --font-main: 'Inter', sans-serif;
}

body {
  background-color: var(--primary-color);
  color: var(--third-color);
  font-family: var(--font-main);
  margin: 0;
  padding: 0;
}

@media (max-width: 1024px) and (min-width: 768px) {
  :root {
    --h1-h2-size: 4rem;
    --h3-size: 2rem;
    --p-size: 1.25rem;
  }
}

@media (max-width: 768px) {
  :root {
    --h1-h2-size: 3rem;
    --h3-size: 1.5rem;
    --p-size: 1rem;
  }
}


