h1, h2, h3{
    font-weight: 900;
    text-transform: uppercase;
    font-family: "Roboto Condensed", serif;
    font-optical-sizing: auto;
    cursor: default;
}
p, a, ul, li, span{
  font-family: "Roboto Condensed", serif;
  font-optical-sizing: auto;
    cursor: default;
}
h1, h2 {
  font-size: var(--h1-h2-size);
}

h3 {
  font-size: var(--h3-size);
}

p {
  font-size: var(--p-size);
}

/* Apply colors */
body {
  background-color: var(--primary-color);
  color: var(--third-color);
}

button {
  background-color: var(--secondary-color);
  color: var(--third-color);
}

section{
  padding: 0 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Navbar Styles */
.navbar {
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(8px);    
    color: var(--third-color);
    padding: 20px 100px;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items:center;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
  }
  
  .navbar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin-right: 200px;
  }

  .logo img{
    height: 30px;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .nav-links li a {
    text-decoration: none;
    color: var(--third-color);
    transition: color 0.3s ease;
    cursor: pointer;
  }
  
  .nav-links li a:hover {
    color: #4E31AA;
  }
  
  /* Mobile Menu Button */
  .mobile-menu {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    color: var(--third-color);
    padding-left: 160px;
  }
  
  /* Mobile Navigation */
  .mobile-nav {
    position: fixed;
    top: 0;
    right: -100%;
    width: 80%;
    height: 100vh;
    background: var(--primary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
    padding-right: 80px;
    transition: right 0.4s ease-in-out;
    z-index: 1100;
  }
  
  .mobile-nav.open {
    right: 0;
  }
  
  .mobile-nav ul {
    list-style: none;
    text-align: center;
    padding: 0;
  }
  
  .mobile-nav li {
    margin: 20px 0;
  }
  
  .mobile-nav a {
    text-decoration: none;
    color: var(--third-color);
    font-size: 1.5rem;
    transition: color 0.3s ease;
  }
  
  .mobile-nav a:hover {
    color: var(--secondary-color);
  }
  
  /* Close Button */
  .close-menu {
    position: absolute;
    top: 15px;
    right: 220px;
    background: none;
    border: none;
    color: var(--third-color);
    cursor: pointer;
  }
  
  /* Background Overlay */
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1000;
    transition: opacity 0.4s ease-in-out;
  }
 /* Progress Bar */
.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; /* Full width to allow scaling from center */
  height: 5px;
  background-color: var(--secondary-color);
  z-index: 9999;
}


  
  
  /* Responsive Design for Nav Bar */
  @media screen and (max-width: 768px) {
    
    .nav-links {
      display: none;
    }
    .mobile-menu {
      display: block;
      
    }
    .logo{
      margin-right: 100px;
    }
  }
  
 /* Hero Section */
.hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    color: var(--third-color);
    padding: 25px 100px;
   
  }
  

  
  .hero-container {
    display: flex;
    align-items:last baseline;
    text-align: center;
    justify-content: space-between;
    opacity: 1;
    
  }
  
  
  .hero-title {
    font-weight: bold;
    margin-bottom: 20px;
    text-align: left;
    opacity: 1;
  }
  

  .hero-subtitle {
    color: var(--secondary-color);
    margin-bottom: 30px;
    text-align: right;
    opacity: 1;
  }
  .hero-para{
    font-size: 1.5rem;
    color: var(--third-color);
  }
  
  /* Scroll Arrow */
  .scroll-arrow {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin-top: 20px;
    cursor: pointer;
    transition: transform 0.3s ease, color 0.3s ease;
  }
  
  .scroll-arrow:hover {
    transform: translateY(5px);
    color: var(--secondary-color);
    transition: transform 0.3s ease, color 0.3s ease;
  }
  

  
  /* Responsive Design  for Hero Section*/
  @media screen and (max-width: 1024px) {
    .hero{
        height: 100vh;
        padding: 10px 100px;
    }
  
    .scroll-arrow {
      margin-top: 0px;
    }
  }
  
  @media screen and (max-width: 768px) {
    .hero-container {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .hero-title {
      text-align: center;
    }
  
    .hero-subtitle {
      text-align: center;
    }
    .hero-para {
      font-size: 1rem;
      text-align: center;
    }
    
  }

 /* Skills Section */
.skills {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 40px;
    margin: 0;
}


.skills-title{
    color: var(--secondary-color);
    margin-bottom: 0;
}
.skills-subtitle{
    margin-top: 0;
    color: var(--third-color);
}
.skills-title-container{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:flex-end;
}
.skills-container {
    width: 70%;
    height: 20vh;
    background-color: var(--primary-color);
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 20px;
}

/* Scroll Wrapper */
.scroll-wrapper {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
}

/* Scrolling Content */
.scroll-content {
    display: flex;
    align-items: center;
    gap: 20px;
    width: max-content;
    animation: scroll-right 15s linear infinite;
}

/* Skill Items */
.skill-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    transition: transform 0.3s ease;
    background-color: var(--third-color);
    border-radius: 20px;
}

.skill-item img {
    width: 70px;
    height: 70px;
}

/* Scale Effect on Hover */
.skill-item:hover {
    transform: scale(1.1);
}

/* Rightward Scrolling Animation */
@keyframes scroll-right {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

/* Pause animation on hover */
.skills-container:hover .scroll-content {
    animation-play-state: paused;
}
/* Fading Effect on Edges */
.skills-container {
    -webkit-mask-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1) 5%, rgba(0, 0, 0, 1) 95%, rgba(0, 0, 0, 0));
    mask-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1) 5%, rgba(0, 0, 0, 1) 95%, rgba(0, 0, 0, 0));
}

/* Responsive Design */
@media screen and (max-width: 768px) {

    .skills-container {
        height: auto;
    }
}


/*Projects */
.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 60px 100px;
  }
  
  .project-title-container {
    text-align: center;
    margin-bottom: 10px;
    margin-top: 50px;
  }
  
  .project-title{
    color: var(--secondary-color);
    margin-top: 0px;
  }
  
  .project-subtitle {
    color: var(--third-color); 
    margin-bottom: 10px;
  }
  
  /* Project Grid */
  .projects-container {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    gap: 40px;
    width: 100%;
    
  }
  
  /* Project Items */
  .project {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 40px;
    background-color: var(--third-color);
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    height: 70vh;
  }
 
  
  
  /* Alternate positioning */
  .project.left .project-info {
    order: 1;
  }
  
  .project.left .project-image {
    order: 2;
  }
  
  .project.right .project-info {
    order: 2;
  }
  
  .project.right .project-image {
    order: 1;
  }
  
  /* Project Info */
  .project-info {
    color: var(--primary-color);
  }
  
  .project-info h3 {
    font-size: 2rem;
    color: var(--secondary-color);
    margin-bottom: 10px;
  }
  
  .project-skills {
    list-style: none;
    display: flex;
    gap: 10px;
    padding: 0;
    margin-bottom: 10px;
  }
  
  .project-skills li {
    background-color: var(--secondary-color);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.9rem;
  }
  
  .project-info p {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  /* GitHub Button */
  .github-icon {
    width: 30px;
    height: 30px;
    transition: transform 0.3s ease;
  }
  
  .github-icon:hover {
    transform: scale(1.1);
  }
  
  /* Project Image */
  .project-image img {
    width: 100%;
    border-radius: 10px;
  }
 
  
  /* Responsive */
  @media screen and (max-width: 768px) {
    .project {
      display: flex;
      flex-direction: column;
      text-align: center;
      justify-content: center;
      align-items: center;
      height: 90vh;
    }
  
    .project-info {
      order: 1 !important;
    }
  
    .project-image {
      order: 2 !important;
    }
    
  }
  /*About Section*/
  .about {
    text-align: center;
    padding: 60px 100px;
    background-color: var(--primary-color);
    color: var(--third-color);
  }
  
  .about-title {
    color: var(--secondary-color);
    margin-bottom: 0;
  }
  .about-subtitle{
    margin-top: 0;
  }
  .about-header p {
    margin-bottom: 40px;
    color: var(--third-color);
    font-size: 2rem;
  }
  
  .about-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    align-items: center;
  }
  
  .about-text {
    text-align: left;
  }
  .about-text h3{
    color: var(--secondary-color);
  }
  .about-text p{
    font-size: 1.5rem;
  }
  
  .about-image-center img {
    width: 100%;
    max-width: 300px;
    border-radius: 10px;
  }
  
  .about-image-full {
    grid-column: span 3;
    text-align: center;
  }
  
  .about-image-full img {
    width: 80%;
    border-radius: 10px;
  }
  @media screen and (max-width: 1024px) {
    .about-grid {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      gap: 20px;
    }
    .about-text p{
      font-size: 1.5rem;
    }
  
    .about-image-center {
      display: flex;
      justify-content: center;
    }
  
    .about-image-center img {
      max-width: 250px;
      width: 100%;
      height: auto;
      display: block; /* Ensures visibility */
    }
  
    .about-image-full img {
      width: 90%;
      display: block;
      margin: 0 auto;
    }
  }
  
  @media screen and (max-width: 768px) {
    .about{
      padding: 0 80px;
    }
    .about-grid {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
    .about-text {
      text-align: center;
    }
    .about-text p{
      font-size: 1rem;
    }
  
    .about-text h3 {
      text-align: center;
      font-size: 1rem;
    }
  
    .about-image-center {
      display: flex;
      justify-content: center;
    }
  
    .about-image-center img {
      max-width: 200px;
      width: 100%;
      height: auto;
      display: block;
    }
  
    .about-image-full img {
      width: 100%;
      display: block;
      margin: 0 auto;
    }
  }
  
  
  /*Contact Section*/
  .contact {
    text-align: center;
    padding: 0px 100px 20px 100px;
    height: 70vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: var(--primary-color);
  }
  .contact-title-container{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:flex-start;
    margin-bottom: 0;
  }
  
  .contact-title {
    color: var(--secondary-color);
    margin-top: 0;
    
  }
  .contact-subtitle{
    color: var(--third-color);
    margin-bottom: 0;
  }
  
  /* Contact Links Container */
  .contact-links {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 0;
    margin-bottom: 40px;
  }
  
  /* Social Icons */
  .contact-icon {
    width: 40px;
    height: 40px;
    color: var(--third-color);
    transition: transform 0.3s ease, color 0.3s ease;
  }
  
  .contact-icon:hover {
    color: var(--secondary-color);
    transform: scale(1.2);
  }
  
  
  
  
  /* Responsive */
  @media screen and (max-width: 768px) {
    .contact-title{
        text-align: left;
    }
    .contact{
        height: 90vh;
        padding: 10px 100px;
    }
    .contact-links {
      gap: 15px;
    }
  
    .contact-icon {
      width: 35px;
      height: 35px;
    }
  
    .scroll-icon {
      width: 45px;
      height: 45px;
    }
  }

  .resume-btn {
    display: inline-block;
    padding: 12px 20px;
    font-size: 1rem;
    font-weight: bold;
    color: var(--third-color);
    background-color: var(--secondary-color);
    border-radius: 8px;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  
  .resume-btn:hover {
    background-color: var(--third-color);
    transform: scale(1.05);
    color: var(--secondary-color);
  }
 /* Styles for screens between 768px and 1024px */

  /*Footer Section*/
  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
    background-color: var(--primary-color);
    color: var(--third-color);
    font-size: 16px;
    flex-wrap: wrap;
  }
  
  .footer-text {
    text-align: center;
    flex: 1;
    margin-left: 140px;
    white-space: nowrap;
  }
  
  /* Container for social icons */
  .footer-icons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 15%;
    min-width: 120px; /* Ensures proper spacing on small screens */
  }
  
  /* Social Icons */
  .footer-icon {
    width: 20px;
    height: 20px;
    transition: transform 0.3s ease, color 0.3s ease;
    color: var(--third-color);
  }
  
  .footer-icon:hover {
    color: var(--secondary-color);
    transform: scale(1.2);
  }
  
  /* RESPONSIVE DESIGN */
  @media (max-width: 768px) {
    .footer {
      flex-direction: column;
      text-align: center;
      padding: 20px 30px;
    }
  
    .footer-text {
      margin: 10px 0;
      text-align: center;
    }
  
    .footer-icons {
      width: 100%;
      justify-content: center;
      gap: 20px;
    }
  }
  
 